body {
  
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(40, 49, 54);
  line-height: 1.5;
  background-color: #ffffff;
}


header {
    background-color: #eeeeee;
    padding-bottom: 20px;
}

.main-navigation {
    
  font-size: 16px;
  font-family: "Roboto";
  background-color: #eeeeee;
  
  
}
.site-navigation a {
    color: #000000;
    font-size: 16px;
    font-family: "Roboto", medium;
    text-decoration: none;
    font-weight: 500;
    
}

.site-navigation li {
    display: inline;
    margin-left: 50px;

}

.catalog-list {
    padding: 0;
}

.cart-item li {
    color: #000000;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    display: inline-block;
    margin-left: 50px;
}

.button1 {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 16px;
    text-decoration: none;
    margin: 15px 60px;
    padding: 15px 60px;
    border: none;
    background-color: #fb565a;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 5px;
    
}


.catalog-item {
    display: inline;
}
    
    
    

h1 {
  font-size: 55px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  line-height: 1;
  text-align: left;
}

.visually-hidden {
    visibility: hidden;
}

.catalog-item-title {
  font-size: 24px;
  font-family: "Roboto";
  font-weight: bold;
  line-height: 1.25;
  text-transform: uppercase;
  
}

.catalog-item-title > a,
.catalog-item-title > a:hover,
.catalog-item-title > a:focus,
.catalog-item-title > a:link,
.catalog-item-title > a:active,
.catalog-item-title > a:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}

.catalog-item-desc p{
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(40, 49, 54);
  line-height: 1.5;
  
}




.patners li{
    display: inline-block;
}

.footer-contacts {
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(102, 102, 102);
  line-height: 1.125;
  text-align: left;
  
}

legend {
  font-size: 18px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.667;
 
}

.footer-contacts {
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(102, 102, 102);
  line-height: 1.125;
  text-align: left;
  
}




    

    
  
   
    



 


