body {
    margin: 0;
    padding: 0;
    
    font-family: "Roboto", "Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #282828;
    
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.main-header {
    background-color: #eeeeee;
}

.main-header h1 {
    font-size: 55px;
    line-height: 55px;
}

.main-header p {
    padding-top: 20px;
}

.main-navigation {
    font-size: 16px;
    line-height: 30px;
    color: #282828;
    
    background-color: #eeeeee;
}

.site-navigation,
.user-basket {
    list-style: none;
}

.site-navigation a,
.user-basket a{
    color: #282828;
}

.site-navigation a,
.user-basket a:hover {
    color: #fb565a;
}

.site-navigation a,
.user-basket a:focus {
    color: #a6a6a6;
}

.visually-hidden {
    display: none;
}

.button {
color: #ffffff;
    font-family: "Roboto";
    font-size: 16px;
    text-decoration: none;
    padding: 15px 60px;
    border: none;
    background-color: #fb565a;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 5px;
}

.button-5
.button-2,
.button-1:hover {
    background-color: #e74246;
}

.button-5
.button-2
.button-1:focus {
    background-color: #d7373b;
    color: #e37376;
}

.button-3 {
    background-color: #00ca74;
}

.button-3:hover {
    background-color: #00bc6c;
}

.button-3:focus {
    background-color: #00aa62;
    color: #4dc491;
}

.button-4 {
    background-color: #efc84a;
}

.button-4:hover {
    background-color: #eab534;
}

.button-4:focus {
    background-color: #e5a722;
    color: #edc265;
}
   

.features-list {
    list-style: none;
}

.feature-item {
    
}

.feature-item h3 {
    font-size: 24px;
    line-height: 30px;
}

.about-us h2 {
    font-size: 45px;
    line-height: 45px;
}

.about-us h3 {
    font-size: 16px;
    font-weight: 24px;
}

.about-us p {
    font-size: 16px;
    line-height: 24px;
}

.benefits-list {
    list-style: none;
}

.preview-list-1,
.preview-list-2,
.preview-list-3 {
    list-style: none;
}

.preview-item-1 {
    font-size: 45px;
    font-weight: bold;
    line-height: 20px;
}

.preview-item-2 {
    font-size: 16px;
    line-height: 32px;
}

.partners-list {
    list-style: none;
}

.patnres-list a:nth-child(1):hover {
    background-image: url(logo-1-hover.png%20copy.png);
}

.contacts h3{
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
}

contacts p {
    font-weight: 16px;
    line-height: 18px;
}

.main-footer a {
    display: block;
    background-color: #e1e1e1;
    padding: 20px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    background-color: #e1e1e1;
}

.main-footer li {
    list-style: none;
}

.main-footer a:hover {
    background-color: #e74246;
}

.main-footer a:focus {
    background-color: #d7373b;
    color: #e37376;
}

/*Временно для сетки*/

body {
    min-width: 1200px;
    min-height: 2470px;
}

.main-navigation-wrapper {
    display: flex;
    
/*Временно для сетки*/
    min-width: 1160px;
    min-height: 130px;
}



.main-header-logo {
    padding-top: 50px;
    padding-left: 20px;
    
/*Врмеенно для сетки*/
    min-width: 160px;
    min-height: 65px;
}

.site-navigation {
    display: flex;
    padding: 70px;
    padding-left: 200px;
}

.site-navigation li {
    padding-left: 50px;
}

.header-container-1 {
    display: flex;
    min-height: 415px;
}

.features {
    min-height: 505px;
    margin-bottom: 80px;
}

.features-list {
    display: flex;
    padding-top: 80px;
    
    min-height: 350px;
    min-width: 1100px;
}

.features-list li:nth-child(1){
    padding-left: 140px;
}

.features-list li:nth-child(2){
    padding-left: 100px;
}

.features-list li:nth-child(3){
    padding-left: 100px;
    padding-right: 200px;
}

.index-column {
    display: flex;
    margin-bottom: 80px;
}

.about-us {
    width: 650px;
    padding-left: 140px;
    min-height: 315px;
}

.preview {
    width: 360px;
    padding-left: 145px;
    min-height: 380px;
}

.preview-line {
    display: flex;
}

.partners li {
    display: inline;
    padding-left: 90px;
}

.main-footer {
    display: flex;
    min-height: 480px;
}

.footer-social {
    display: flex;
    min-height: 82px;
}

.social-icon {
    padding-left: 140px;
}

.footer-social li {
    display: inline-block;
    padding-left: 15px;
}